<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="baidu-site-verification" content="W03XQFmGwe" />
  <link href="https://cdn.bootcss.com/iview/2.8.0/styles/iview.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/iview/2.8.0/iview.js"></script>
  <script src="https://cdn.bootcss.com/vue-resource/0.7.0/vue-resource.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <style media="screen">
    #seacing_bar{
      overflow: hidden;
    }
    footer{
      height: 100px;
      margin-top: 20px;
      background-color: #2f2f29;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  </style>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6c5734bf016da7336eb2b4036a8bf324";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <title>GY上网导航</title>
</head>
<body>
  <div id="allsite">
    <header class="nav-header">
      <div class="gy-nav-header gy-hoverable" v-bind:class="{'gy-shadow-2': scrolled}">
        <div class="sear_wrap">
          <div class="sear_marchine"></div>
          <input type="text"  id="seacing_bar" placeholder="搜你所想" v-model="keyword" @keyup="get($event)" @keydown.down.prevent="selectDown"
    @keydown.up.prevent="selectUp" autocomplete="off">
          <div class="gy-button" id="seaching" v-on:click="baiduyixia()">百度一下</div>
          <ul class="sug" v-show="isShow">
            <li v-for="(value,index) in myData"  :class="{selected:index==sel_index}" v-on:click="clickitem(value)">{{value}}</li>
          </ul>
        </div>
      </div>
    </header>
    <div v-on:click="hidesug()">
      <div class="gy-container gy-shadow-2" id="first_container">
        <div class="title" id="">常用站点</div>
        <div class="gy-divider gy-divider-coustom"></div>

        <Row type="flex" justify="space-around" class="code-row-bg">
          <i-col v-for="sitelist in comsitelist" :xs="8" :md="2" class="gy-cell">
            <li class="site gy-hoverable">
              <a v-bind:href="sitelist.url" target="_blank">
                <div>
                  <img v-bind:src="sitelist.icon" class="site-icon">
                </div>
                <span class="site-title">{{sitelist.site_name}}</span>
              </a>
            </li>
          </i-col>
        </Row>
        </div>

        <div class="gy-container-full">
          <Row :gutter="16" type="flex" justify="center" align="top">
            <i-col v-for="category in categorylist" :xs="24" :sm="12" :md="8">
              <div class="site-card gy-shadow-2">
                <div class="title">{{category.categoryname}}</div>
                <div class="gy-divider"></div>
                <div class="gy-list">
                  <li v-for="sitelist in category.sitelist" class="site-noicon gy-hoverable"><a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a></li>
                </div>
              </div>
            </i-col>
          </Row>
        </div>

        <footer>
          <div class="about">
            <div>BY <a href="http://weibo.com/ailuoku6" target="_blank">@爱咯酷6</a> ,Version:V1.1</div>
            <div>提建议: <a href="http://wpa.qq.com/msgrd?v=3&uin=2275789909&site=qq&menu=yes" target="_blank"><img src="img/kefu.png"></a></div>
          </div>
        </footer>
    </div>
  </div>
</body>
<script src="js/index.js" charset="utf-8"></script>
</html>
