<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="baidu-site-verification" content="W03XQFmGwe" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/mdui/0.3.0/css/mdui.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <style media="screen">
    #seacing_bar{
      overflow: hidden;
    }
    .site-noicon:hover{
      color: #E65100;
      text-decoration: underline;
    }
  </style>
  <title>GY上网导航</title>
</head>
<body>
  <header class="mdui-appbar mdui-appbar-fixed mdui-shadow-0 mdui-hoverable">
    <div class="mdui-tab">
      <div class="mdui-toolbar-spacer"></div>
      <!-- <form class="sear_wrap" onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu" target="_blank"> -->
      <form class="sear_wrap" onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/s" target="_blank">
        <div class="sear_marchine"></div>
        <input autocomplete="off" type="text" onfocus="checkHttps" name="wd" size="30" id="seacing_bar" placeholder="搜你所想" baidusug="1">
        <input class="mdui-btn mdui-color-indigo" id="seaching" type="submit" value="百度一下">
      </form>
      <div class="mdui-toolbar-spacer"></div>
    </div>
  </header>
  <div id="allsite">
    <div class="mdui-container mdui-shadow-2" id="first_container">
      <div class="mdui-text-color-blue-900 title" id="">常用站点</div>
      <div class="mdui-divider"></div>
        <ul class="mdui-list">
          <li v-for="sitelist in comsitelist" class="site mdui-hoverable">
            <a v-bind:href="sitelist.url" target="_blank">
              <div>
                <img v-bind:src="sitelist.icon" class="site-icon">
              </div>
              <span class="site-title">{{sitelist.site_name}}</span>
            </a>
          </li>
        </ul>

      </div>
      <div class="mdui-container-fluid">

        <div v-for="category in categorylist" class="site-card mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-4 mdui-shadow-2">
          <div class="mdui-text-color-blue-900 title">{{category.categoryname}}</div>
          <div class="mdui-divider mdui-divider-coustom"></div>
          <ul class="mdui-list">
            <li v-for="sitelist in category.sitelist" class="site-noicon mdui-hoverable"><a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a></li>
          </ul>
        </div>
      </div>
  </div>


  <footer class="mdui-valign">
    <div class="mdui-center about">
      <div>BY <a href="http://weibo.com/ailuoku6" target="_blank">@爱咯酷6</a> ,Version:V1.1</div>
      <div>提建议: <a href="http://wpa.qq.com/msgrd?v=3&uin=2275789909&site=qq&menu=yes" target="_blank"><img src="img/kefu.png"></a></div>
      <div></div>
    </div>
  </footer>
  <script type="text/javascript" src="http://tajs.qq.com/stats?sId=64876880" charset="UTF-8"></script>
  <script type="text/javascript" color="255,87,34" opacity='1.0' zIndex="-3" count="66" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js"></script>
</body>
<script src="https://cdn.bootcss.com/mdui/0.3.0/js/mdui.min.js" charset="utf-8"></script>
<script src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/js/all_async_search_d111b96.js" charset="utf-8"></script>
<script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
<script src="js/ctrl.js" charset="utf-8"></script>
<!-- <script src="js/index.js" charset="utf-8"></script> -->
<script src="js/index.js" charset="utf-8"></script>
</html>
